{% extends "base.html" %}
{% block bodycontent %}

<div class="wrapper">

    <!-- Add Job Form -->
    <div class="row gutters-sm">
        <div class="col-12 col-m-12 col-sm-12">
            <div class="card" style="background-color: white;">

                <div class="card-header">
                    <h2>Add New Job</h2>
                </div>

                <div class="card-content" style="text-align: center;">
                     <form method="POST" enctype="multipart/form-data">
                        {%csrf_token%}
                        <div class="row" style="height: 50px;">
                            <div class="col-sm-4">
                                <h6 class="mb-0">Company Name</h6>
                            </div>
                            <div class="col-sm-5">
                                {{form.job_name}}
                            </div>
                        </div>
                        <hr>

                        <div class="row" style="height: 50px;">
                            <div class="col-sm-4">
                                <h6 class="mb-0">Job Title</h6>
                            </div>
                            <div class="col-sm-5">
                                {{form.job_title}}
                            </div>
                        </div>
                        <hr>

                        <div class="row" style="height: 50px;">
                            <div class="col-sm-4">
                                <h6 class="mb-0">CTC</h6>
                            </div>
                            <div class="col-sm-5">
                                {{form.job_ctc}}
                            </div>
                        </div>
                        <hr>

                        <div class="row" style="height: 50px;">
                            <div class="col-sm-4">
                                <h6 class="mb-0">Location</h6>
                            </div>
                            <div class="col-sm-5">
                                {{form.job_location}}
                            </div>
                        </div>
                        <hr>

                        <div class="row" style="height: 70px;">
                            <div class="col-sm-4">
                                <h6 class="mb-0">Job Requirement</h6>
                            </div>
                            <div class="col-sm-5">
                                <textarea name="job_requirement" cols="80" rows="2" class="form-control"
                                          maxlength="20000" required="" id="id_job_requirement"
                                          style="resize: none;"></textarea>
                            </div>
                        </div>
                        <hr>

                        <div class="row" style="height: 50px;">
                            <div class="col-sm-4">
                                <h6 class="mb-0">Registration Site</h6>
                            </div>
                            <div class="col-sm-5">
                                {{form.register_site}}
                            </div>
                        </div>
                        <hr>

                        <div class="row" style="height: 50px;">
                            <div class="col-sm-4">
                                <h6 class="mb-0">Registration Date</h6>
                            </div>
                            <div class="col-sm-5">
                                <input type="date" name="register_date" class="form-control" id="id_register_date">
                            </div>
                        </div>
                        <hr>

                        <div class="row" style="height: 50px; text-align:center;">
                            <div class="col-sm-12 text-secondary">
                                <a href="{%url 'job'%}" class="btn btn-secondary">Close</a>
                                <input type="submit" name="submit" value="Add" class="addBtn"
                                       style="margin-left: 10px; padding:5px; border: 0px; border-radius:5px; width:85px; height:43px;">
                            </div>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>
    <!-- End of Add Job Form -->

</div>

{% endblock %}