{% extends "base.html" %}
{% block bodycontent %}

<div class="wrapper">

   <!-- Delete Job Form -->
    <div class="row gutters-sm">
        <div class="col-12 col-m-12 col-sm-12">
            <div class="card" style="background-color: white;">

                <div class="card-header">
                    <h2>Delete Job</h2>
                </div>

                <div class="card-content" style="text-align: center;">
                    <form method="POST" enctype="multipart/form-data">
                        {%csrf_token%}
                        <div class="row" style="height: 50px;">
                            <div class="col-sm-4">
                                <h6 class="mb-0">Company Name</h6>
                            </div>
                            <div class="col-sm-5">
                                {{form.job_name}}
                            </div>
                        </div>
                        <hr>

                        <a href="{% url 'job' %}" class="btn backBtn">Cancel</a>
                        <button name="submit" type="submit" class="btn delBtn">Delete</button>
                    </form>
                </div>

            </div>
        </div>
    </div>
    <!-- End of Delete Job Form -->

</div>

{% endblock %}