<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <title>JOB TRACKER</title>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'stylesheet/login.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap">

</head>

<body>
<section class="side">
    <img src="{% static 'img/JTW.png' %}" alt="">
</section>

<section class="main">
    <div class="login-container">
        <p class="title">Login Here</p>

        <div class="separator"></div>
        <br>

        <form class="login-form" method="post">
            {%csrf_token%}

            {% if messages %}
            {% for message in messages %}
            <p>{{ message }}</p>
            {% endfor %}
            {% endif %}
            <div class="form-control">
                <input type="text" name="loginUsername" id="loginUsername" placeholder="Username">
                <i class="fas fa-user"></i>
            </div>
            <div class="form-control">
                <input type="password" name="loginPassword" id="loginPassword" placeholder="Password">
                <i class="fas fa-lock"></i>
            </div>

            <button class="submit">Login</button>
        </form>

        <p class="login-message">Not Registered? <a href="{%url 'registeruser'%}">Create an Account</a></p>

    </div>
</section>

</body>
</html>